<!-- Footer Start -->
<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
  <div class="row px-xl-5 pt-5">
  <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
    <h5 class="text-secondary text-uppercase mb-4">{{ footerData.title }}</h5>
    <p class="mb-4">{{ footerData.desc }}</p>
    <p class="mb-2" *ngFor="let item of footerData.detail">
      <i class="text-primary mr-3 {{ item.icon }}"></i>{{ item.data }}
    </p>
  </div>
    <div class="col-lg-8 col-md-12">
      <div class="row">
      <div class="col-md-4 mb-5" *ngFor="let item of footerList">
        <h5 class="text-secondary text-uppercase mb-4">{{ item.name }}</h5>
        <div class="d-flex flex-column justify-content-start" *ngFor="let data of item.list">
          <a class="text-secondary mb-2">
            <i class="mr-2 {{ item.icon }}"></i>{{ data }}
          </a>
        </div>
      </div>

    <div class="col-md-4 mb-5">
      <h5 class="text-secondary text-uppercase mb-4">{{ footerNewsletter.title }}</h5>
      <p>{{ footerNewsletter.desc }}</p>
        <form name="form" #form="ngForm" autocomplete="on" novalidate>
          <div class="form-group mt-3 mt-md-0">
          <span class="d-flex">
            <input
              type="text"
              class="form-control"
              name="email"
              id="email"
              #email="ngModel"
              [(ngModel)]="newsletter.email"
              placeholder="Your Email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              required
              style="width: 80%; border: 2px solid rgb(237, 193, 50);"
              />
              <button type="submit" class="btn btn-warning btn-square" (click)="signUp(form)" style="width: 30%; height: 38px;">
                SignUp
              </button>
            </span>
            <div *ngIf="!email?.valid && (form?.submitted || email?.touched)" class="error">
              <ul>
                <li *ngIf="email.hasError('required')" style="color: red">
                  E-mail is required
                </li>
                <li *ngIf="email.hasError('pattern')" style="color: red">
                  Invalid E-mail Address
                </li>
              </ul>
            </div>
          </div>
        </form>
          <h6 class="text-secondary text-uppercase mt-4 mb-3">{{ footerNewsletter.follow }}</h6>
          <div class="d-flex">
            <a class="btn btn-primary btn-square mr-2" href="#" *ngFor="let social of footerNewsletter.socials">
              <i class="{{ social }}"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, 0.1) !important">
    <div class="col-md-6 px-xl-0">
    <p class="mb-md-0 text-center text-md-left text-secondary">
      &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved.
      Designed by
      <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
    </p>
    </div>
    <div class="col-md-6 px-xl-0 text-center text-md-right">
      <img class="img-fluid" src="assets/img/payments.png" alt="" />
    </div>
  </div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

