<section>
     <form [formGroup]="forgotPasswordForm" autocomplete="on">
       <h2 class="mt-3">Forgot Password</h2>
       <div class="text-center text-white mb-3">Enter your registered email to reset your password.</div>
       <hr>
       <div class="inputbox form-group">
         <input
           type="text"
           id="email"
           name="email"
           formControlName="email"
           class="form-control"
           placeholder="Enter E-mail"
         />
         <div *ngIf="(submitted || form['email'].touched) && form['email'].invalid" class="mt-1 error">
           <span *ngIf="form['email'].hasError('required')" style="color: red">
             E-mail is required
           </span>
           <span *ngIf="form['email'].hasError('pattern')" style="color: red">
             Enter correct E-mail address
           </span>
         </div>
       </div>
       
       <div style="text-align: center">
         <input type="submit" class="btn btn-success px-3 mt-4" value="Reset Password" (click)="resetPassword()"/>
       </div>
       <div class="register">
          <p>New here? <a [routerLink]="['/auth/register']" class="fs-6">Sign Up.</a> </p>
          <p>Already have an account? <a class="fs-6" [routerLink]="['/auth/login']">Sign In.</a></p>
        </div>
     </form>
   </section>
   