<app-carousel-page></app-carousel-page>
<app-feature></app-feature>
<app-categories></app-categories>

<div class="container-fluid pt-5 pb-3">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
    <span class="bg-secondary pr-3">{{ title1 }}</span>
  </h2>
  <app-products-featured></app-products-featured>
</div>

    <app-offer></app-offer>


<div class="container-fluid pt-5 pb-3">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
    <span class="bg-secondary pr-3">{{ title2 }}</span>
  </h2>
  <app-products-recent></app-products-recent>
</div>

<app-vendor></app-vendor>
