<!-- Shop Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <!-- Shop Sidebar Start -->
    <div class="col-lg-3 col-md-4">
      <!-- Price Start -->
      <app-filter-by-price></app-filter-by-price>
      <!-- Price End -->

      <!-- Color Start -->
      <app-filter-by-color></app-filter-by-color>
      <!-- Color End -->

      <!-- Size Start -->
      <app-filter-by-size></app-filter-by-size>
      <!-- Size End -->
    </div>
    <!-- Shop Sidebar End -->

    <!-- Shop Product Start -->
    <div class="col-lg-9 col-md-8">
      <div class="row pb-3">
        <app-product-list class="row"></app-product-list>
      </div>
    </div>
    <!-- Shop Product End -->
  </div>
</div>
<!-- Shop End -->
