.addMore{
     font-style: italic; 
     font-size: 20px; 
}

.viewDetail{
     color: rgb(43, 88, 235);
     background: transparent !important;
     cursor: pointer;
}

.success{
     background-color: rgb(35, 195, 35) !important;
}

.pending{
     background-color: rgb(239, 113, 68) !important;
}