section {
     position: relative;
     max-width: 500px;
     background-image: url(https://user-images.githubusercontent.com/13468728/233847739-219cb494-c265-4554-820a-bd3424c59065.jpg);
     background-color: transparent;
     border: 2px solid rgba(255, 255, 255, 0.5);
     border-radius: 15px;
     backdrop-filter: blur(55px);
     left: 37%;
     //     display: flex;
     //     justify-content: center;
     //     align-items: center;
     padding: 2rem 3rem;
   }
   
   h2 {
     color: #fff;
     text-align: center;
   }
   
   .inputbox {
     position: relative;
     margin: 5% 10%;
     max-width: 310px;
     border-bottom: 2px solid #fff;
   }
   
   .inputbox label {
     position: absolute;
     top: 50%;
     left: 5px;
     transform: translateY(-50%);
     color: #fff;
     font-size: 1rem;
     pointer-events: none;
     transition: all 0.5s ease-in-out;
   }
   
   input:focus ~ label,
   input:valid ~ label {
     top: -5px;
   }
   
   .inputbox input {
     width: 100%;
     height: 40px;
     background: transparent;
     border: none;
     outline: none;
     font-size: 1rem;
     padding: 0 35px 0 5px;
     color: #fff;
   }
   
   .forget {
     margin: 35px 0;
     font-size: 0.9rem;
     color: #fff;
     display: flex;
     justify-content: center;
   }
   
   .forget label input {
     margin-right: 3px;
   }
   
   .forget label a {
     color: #fff;
     text-decoration: none;
   }
   
   .forget label a:hover {
     text-decoration: underline;
   }
   
   .btn {
     width: 80%;
     height: 40px;
     border-radius: 40px;
     border: none;
     outline: none;
     cursor: pointer;
     font-size: 1rem;
     font-weight: 600;
   }
   
   .register {
     font-size: 0.9rem;
     color: #fff;
     text-align: center;
     margin: 25px 0 10px;
   }
   
   .register p a {
     text-decoration: none;
     color: #fff;
     font-weight: 600;
   }
   
   .register p a:hover {
     text-decoration: underline;
   }
   