<!-- Contact Start -->
<div class="container-fluid">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
    <span class="bg-secondary pr-3">Contact Us</span>
  </h2>
  <div class="row px-xl-5">
    <div class="col-lg-7 mb-5">
      <div class="contact-form bg-light p-30">
        <div id="success"></div>
        <!-- <form name="form" #form="ngForm" autocomplete="on" novalidate>
          <div class="form-group mt-3">
            <input
              type="text"
              name="name"
              class="form-control"
              id="name"
              #name="ngModel"
              [(ngModel)]="contactForm.name"
              placeholder="Your Name"
              required
            />
            <div *ngIf="!name?.valid && (form?.submitted || name?.touched)" class="error">
              <ul>
                <li *ngIf="name.hasError('required')" style="color: red">
                  Name is required
                </li>
              </ul>
            </div>
          </div>

          <div class="form-group mt-3">
            <input
              type="text"
              class="form-control"
              name="email"
              id="email"
              #email="ngModel"
              [(ngModel)]="contactForm.email"
              placeholder="Your E-mail"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              required
            />
            <div *ngIf="!email?.valid && (form?.submitted || email?.touched)" class="error">
              <ul>
                <li *ngIf="email.hasError('required')" style="color: red">
                  E-mail is required
                </li>
                <li *ngIf="email.hasError('pattern')" style="color: red">
                  Invalid E-mail Address
                </li>
              </ul>
            </div>
          </div>

          <div class="form-group mt-3">
            <input
              type="text"
              class="form-control"
              name="subject"
              id="subject"
              #subject="ngModel"
              [(ngModel)]="contactForm.subject"
              placeholder="Subject"
              required
            />
            <div *ngIf="!subject?.valid && (form?.submitted || subject?.touched)" class="error">
              <ul>
                <li *ngIf="subject.hasError('required')" style="color: red">
                  Subject is required
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group mt-3">
            <textarea
              class="form-control"
              name="message"
              #message="ngModel"
              [(ngModel)]="contactForm.message"
              rows="8"
              placeholder="Message"
              required
            >
            </textarea>
            <div *ngIf="!message?.valid && (form?.submitted || message?.touched)" class="error">
              <ul>
                <li *ngIf="message.hasError('required')" style="color: red">
                  Message is required
                </li>
              </ul>
            </div>
          </div>

          <div class="mt-4">
            <button type="submit" class="btn btn-warning" (click)="sendMessage(form)"> Send Message </button>
          </div>
        </form> -->
          <form [formGroup]="contactFormData" autocomplete="on">
            <div class="form-group mt-3">
              <input
                type="text"
                id="name"
                name="name"
                formControlName="name"
                class="form-control"
                placeholder="Your Name"
              />
              <div *ngIf="(submitted || form['name'].touched) && form['name'].invalid" class="mt-1 error">
                <span *ngIf="form['name'].hasError('required')" style="color: red">
                  Name is required
                </span>
              </div>
            </div>

            <div class="form-group mt-3">
              <input
                type="text"
                id="email"
                name="email"
                formControlName="email"
                class="form-control"
                placeholder="Your E-mail"
              />
              <div *ngIf="(submitted || form['email'].touched) && form['email'].invalid" class="mt-1 error">
                <span *ngIf="form['email'].hasError('required')" style="color: red">
                  E-mail is required
                </span>
                <span *ngIf="form['email'].hasError('pattern')" style="color: red">
                  Enter correct E-mail address
                </span>
              </div>
            </div>

            <div class="form-group mt-3">
              <input
                type="text"
                id="subject"
                name="subject"
                formControlName="subject"
                class="form-control"
                placeholder="Your Subject"
              />
              <div *ngIf="(submitted || form['subject'].touched) && form['subject'].invalid" class="mt-1 error">
                <span *ngIf="form['subject'].hasError('required')" style="color: red">
                  Subject is required
                </span>
              </div>
            </div>

            <div class="form-group mt-3">
              <textarea
              class="form-control"
              id="message"
              name="message"
              formControlName="message"
              rows="7"
              placeholder="Message"
              required
            >
            </textarea>
              <div *ngIf="(submitted || form['message'].touched) && form['message'].invalid" class="mt-1 error">
                <span *ngIf="form['message'].hasError('required')" style="color: red">
                  Message is required
                </span>
              </div>
            </div>

            <div class="mt-4">
              <button type="submit" class="btn btn-warning" (click)="sendMessage()"> Send Message </button>
            </div>
          </form>
      </div>
    </div>
    
    <div class="col-lg-5 mb-5">
      <div class="bg-light p-30 mb-30">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
          frameborder="0"
          style="border: 0"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
          style="width: 100%; height: 250px"
        ></iframe>
      </div>
      <div class="bg-light p-30 mb-3">
        <p class="mb-2" *ngFor="let data of contactDetails">
          <i class="{{ data.icon }} text-primary mr-3"></i>{{ data.detail }}
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->