<div class="container-fluid">
     <div class="row px-xl-5" style="margin: 0px 0px;">
          <div class="col-md-12 col-lg-12">
          <div>
               <div class="d-flex justify-content-between align-items-center py-2">
               <h2 class="h5 mb-0">Order Id #{{orderDetail?._id}}</h2>
               <div class="d-flex justify-content-end">
                    <!-- <p type="button" class="button" (click)="downloadAsPDF('csv')">CSV</p> -->
                    <p type="button" class="button" (click)="downloadAsPDF('pdf')">PDF</p>
                    <p type="button" class="button" (click)="downloadAsPDF('print')">PRINT</p>
               </div>
               </div>
               
               <!-- Main content -->
               <div class="row" id="content" #content>
               <div class="col-lg-8">
                    <!-- Details -->
                    <div class="card mb-4">
                    <div class="card-body mt-3 ml-3">
                         <div class="mb-3 d-flex justify-content-between">
                              <div>
                              <span class="me-3">{{orderDetail?.createdAt | date:'dd-MM-YYYY'}}</span>
                              <span class="me-3">#{{orderDetail?._id}}</span>
                              <span class="me-3">{{orderDetail?.payment}}</span>
                              <span class="badge rounded-pill bg-info p-1">SHIPPING</span>
                              </div>
                         </div>

                         <table class="table table-borderless mt-5">
                         <tbody *ngIf="orderDetail?.products?.length">
                         <tr *ngFor="let item of orderDetail?.products; let i = index;" class="border-bottom">
                              <td>
                                   <div class="d-flex mb-2">
                                        <div class="flex-shrink-0">
                                        <img src="{{item?.products?.image}}" alt="..." style="width: 54px; height: 60px" class="img-fluid">
                                        </div>
                                        <div class="flex-lg-grow-1 ml-3">
                                        <h6 class="mb-1">{{item?.products?.title}}</h6>
                                        <span class="small">Color: {{item?.products?.color}}</span>
                                        </div>
                                   </div>
                              </td>
                              <td class="mt-3">{{item?.quantity}}</td>
                              <td class="text-end mt-3">{{((item?.products?.price*item?.quantity)*currencyPrice) | currency:currency }}</td>
                         </tr>
                         </tbody>
                         <tfoot>
                         <tr>
                              <td colspan="2">Subtotal</td>
                              <td class="text-end">{{(orderDetail?.total*currencyPrice) | currency:currency }}</td>
                         </tr>
                         <tr>
                              <td colspan="2">Shipping</td>
                              <td class="text-end">{{(orderDetail?.shippingAmount*currencyPrice) | currency:currency}}</td>
                         </tr>
                         <!-- <tr>
                              <td colspan="2">Discount (Code: NEWYEAR)</td>
                              <td class="text-danger text-end">-$10.00</td>
                         </tr> -->
                         <tr class="fw-bold">
                              <td colspan="2 text-dark">TOTAL</td>
                              <td class="text-end text-dark">{{((orderDetail?.total + orderDetail?.shippingAmount)*currencyPrice) | currency:currency}}</td>
                         </tr>
                         </tfoot>
                         </table>
                    </div>
                    </div>
                    <!-- Payment -->
                    <!-- <div class="card mb-4">
                    <div class="card-body">
                         <div class="row">
                         <div class="col-lg-6 mb-5">
                         <h3 class="fs-5">Payment Method</h3>
                         <hr>
                         <div>
                              <div class="mb-1">{{orderDetail?.payment}} <br></div>
                              <div>Total: {{(orderDetail?.total + orderDetail?.shippingAmount) | currency:currency}} 
                                   <span class="badge bg-success rounded-pill p-1" *ngIf="orderDetail?.payment != 'Cash on Delivery'">PAID</span>
                                   <span class="badge bg-success rounded-pill p-1" *ngIf="orderDetail?.payment == 'Cash on Delivery'">UNPAID</span>
                              </div>
                         </div>
                         </div>
                         <div class="col-lg-6">
                         <h3 class="fs-5">Billing Address</h3>
                         <hr>
                         <h3 class="h6">Address</h3>
                         <address>
                              <strong>{{orderDetail?.billingAddress?.firstName|titlecase}} {{orderDetail?.billingAddress?.lastName|titlecase}}</strong><br>
                              {{orderDetail?.billingAddress?.address?.line1|titlecase}}, 
                              {{orderDetail?.billingAddress?.address?.line2|titlecase}}<br>
                              {{orderDetail?.billingAddress?.address?.city|titlecase}}, 
                              {{orderDetail?.billingAddress?.address?.state|titlecase}},
                              {{orderDetail?.billingAddress?.address?.country|titlecase}} -
                              {{orderDetail?.billingAddress?.address?.zipCode}}<br>
                              <abbr title="Phone">Mobile No.</abbr> : {{orderDetail?.billingAddress?.mobile|titlecase}}
                         </address>
                         </div>
                         </div>
                    </div>
                    </div> -->
               </div>
               <div class="col-lg-4">

                    <div class="card mb-4">
                    <div class="card-body">
                         <div class="row">
                         <div class="col-lg-12 mb-2">
                         <h3 class="fs-5 mb-4">Payment Method</h3>
                         <div>
                              <div class="mb-1"><strong>Payment Type :</strong> {{orderDetail?.payment}} <br></div>
                              <div><strong>Total Payable Amount :</strong> {{(orderDetail?.total + orderDetail?.shippingAmount) | currency:currency}} 
                                  &nbsp; <span class="badge bg-success rounded-pill p-2" *ngIf="orderDetail?.payment != 'Cash on Delivery'">PAID</span>
                                  &nbsp; <span class="badge bg-success rounded-pill p-2" *ngIf="orderDetail?.payment == 'Cash on Delivery'">UNPAID</span>
                              </div>
                         </div>
                         </div>   
                         </div>
                    </div>
                    </div>

                    <div class="card mb-4">
                    <!-- Billing information -->
                    <div class="card-body">
                         <div class="row">
                         <div class="col-lg-12">
                         <h3 class="fs-5 mb-3">Billing Address</h3><h3 class="h6">Address</h3>
                         <address>
                              <strong>{{orderDetail?.billingAddress?.firstName|titlecase}} {{orderDetail?.billingAddress?.lastName|titlecase}}</strong><br>
                              {{orderDetail?.billingAddress?.address?.line1|titlecase}}, 
                              {{orderDetail?.billingAddress?.address?.line2|titlecase}},<br>
                              {{orderDetail?.billingAddress?.address?.city|titlecase}}, 
                              {{orderDetail?.billingAddress?.address?.state|titlecase}},
                              {{orderDetail?.billingAddress?.address?.country|titlecase}} -
                              {{orderDetail?.billingAddress?.address?.zipCode}}<br>
                              <abbr title="Phone">Mobile No.</abbr> : {{orderDetail?.billingAddress?.mobile|titlecase}}
                         </address>
                         </div>
                         </div>
                    </div>
                    </div>

                    <div class="card mb-4">
                    <!-- Shipping information -->
                    <div class="card-body">
                         <h3 class="fs-5">Shipping Information</h3>
                         <div class="mb-3">
                              <strong >Shipping ID </strong><span>#{{orderDetail?.shippingAddress?._id}}</span>
                         </div>
                         <h3 class="h6">Address</h3>
                         <address>
                              <strong>{{orderDetail?.shippingAddress?.firstName|titlecase}} {{orderDetail?.shippingAddress?.lastName|titlecase}}</strong><br>
                              {{orderDetail?.shippingAddress?.address?.line1|titlecase}}, 
                              {{orderDetail?.shippingAddress?.address?.line2|titlecase}},<br>
                              {{orderDetail?.shippingAddress?.address?.city|titlecase}}, 
                              {{orderDetail?.shippingAddress?.address?.state|titlecase}},
                              {{orderDetail?.shippingAddress?.address?.country|titlecase}} -
                              {{orderDetail?.shippingAddress?.address?.zipCode}}<br>
                              <abbr title="Phone">Mobile No.</abbr> : {{orderDetail?.shippingAddress?.mobile|titlecase}}
                         </address>
                    </div>
                    </div>
               </div>
               </div>
          </div>
          </div>
     </div>
</div>