.dropdown-toggle::after {
     display: inline-block;
     margin-top: 10px;
     margin-left: 200px;
 }

 .fa-bars:before {
     margin-left: 15px;
     margin-top: 20px !important;
     width: 100%;
 }

 .item {
     width: 390% !important;
     border-radius: 0px;
     position: absolute;
     inset: 0px auto auto 0px;
     margin-left: 0px !important;
     transform: translate(15px, 34px);
 }
