.payment {
  height: 40px;
  width: 100%;
  padding: 5px;
}

.addressId {
  cursor: pointer;
  margin-top: 12px !important;
  width: 30px;
  height: 16px;
}

.button{
  width: 25%; 
  margin-left: 1%;
}

.fa-times{
  margin: 10px 10px 0px 0px; 
  font-size: 24px;
}