<!-- Products Start -->
<div class="row px-xl-5">
     <div class="col-lg-3 col-md-4 col-sm-6 pb-1" *ngFor="let product of productList|slice:0:8">
        <div class="product-item bg-light mb-4">
            <div class="product-img position-relative overflow-hidden" style="cursor: pointer;">
               <div style="width: 100%; ">
                <img class="img-fluid w-100 p-5" src="{{product.image}}" alt="..."  style="width: 100% !important; height: 400px;">
               </div>
                <div class="product-action">
                    <a class="btn btn-outline-dark btn-square" (click)="addToCart(product._id)">
                        <i class="fa fa-shopping-cart"></i>
                      </a>
                      <a class="btn btn-outline-dark btn-square" (click)="doFavorites(product._id)">
                        <i [ngClass]="{ far: !product.isShow, fa: product.isShow }" class="fa-heart"></i>
                      </a>
                      <a class="btn btn-outline-dark btn-square" (click)="detailsPage(product._id)" >
                        <i class="fa fa-search"></i>
                      </a>
                </div>
            </div>
            <div class="text-center py-4">
                <div  style="min-height: 75px; cursor: pointer;">
                    <a class="h6 text-decoration-none" (click)="detailsPage(product._id)">{{product.title}}</a>
                </div>
                <div class="d-flex align-items-center justify-content-center mt-2">
                    <h5>{{product.price*currencyPrice | currency:currency}}</h5>
                    <h6 class="text-muted ml-2"><del>{{product.checkedPrice*currencyPrice | currency:currency}}</del></h6>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-1" *ngIf="product?.rating">
                    <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                          <span class="half" [style.width.%]="fill">&bigstar;</span>&bigstar;
                        </span>
                    </ng-template>
                    <ngb-rating [rate]="product?.rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
               </div>
               <small *ngIf="product?.rating">({{product?.rating}} / {{ product?.reviewCount }} Reviews)</small>
            </div>
        </div>
    </div>
 </div>
<!-- Products End -->