<!-- Topbar Start -->
<div class="container-fluid">
  <div class="row bg-secondary py-1 px-xl-5">
    <div class="col-lg-6 d-none d-lg-block">
      <div class="d-inline-flex align-items-center h-100">
        <ng-container *ngFor="let item of topBarList">
          <a class="text-body mr-3 p-1" routerLink="{{ item.route }}">{{ item.name }}</a>
        </ng-container>
      </div>
    </div>

    <div class="col-lg-6 text-center text-lg-right">
      <div class="d-inline-flex justify-content-around align-items-center mx-2">

        <div ngbDropdown>
          <button type="button" class="btn btn-sm btn-light dropdown-toggle mr-3" ngbDropdownToggle>
            My Account
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
              <ng-container *ngFor="let list of DropDownMenu1">
                <button class="dropdown-item" ngbDropdownItem type="button">{{ list }}</button>
              </ng-container>
            </div>
          </button>
        </div> 

        <div ngbDropdown>
          <button type="button" class="btn btn-sm btn-light dropdown-toggle mr-3" ngbDropdownToggle>
          {{currencyName}}
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <ng-container *ngFor="let list of DropDownMenu2">
              <button class="dropdown-item" ngbDropdownItem type="button" (click)="currency(list)">{{ list }}</button>
            </ng-container>
          </div>
          </button> 
        </div>       

        <div ngbDropdown>
          <button type="button" class="btn btn-sm btn-light dropdown-toggle mr-3" ngbDropdownToggle>
            EN
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
              <ng-container *ngFor="let list of DropDownMenu3">
                <button class="dropdown-item" ngbDropdownItem type="button" (click)="changeLanguage(list)">{{ list }}</button>
              </ng-container>
            </div>
          </button> 
        </div>

      </div>
      <div class="d-inline-flex align-items-center d-block d-lg-none">
        <a class="btn px-0 ml-2" [routerLink]="['wishlist']">
            <i class="fas fa-heart text-dark"></i>&nbsp;
            <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">{{totalFavoriteProduct}}</span>
        </a>
        <a class="btn px-0 ml-2" [routerLink]="['/cart-detail/my-cart']">
            <i class="fas fa-shopping-cart text-dark"></i>&nbsp;
            <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">{{totalCartProduct}}</span>
        </a>
    </div>
    </div>
  </div>

  <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
    <div class="col-lg-4">
      <a href="" class="text-decoration-none">
        <span class="h1 text-uppercase text-primary bg-dark px-2">{{ shopDetails.first }}</span>
        <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">{{ shopDetails.last }}</span>
      </a>
    </div>
    <div class="col-lg-4 col-6 text-left">
      <form #search="ngForm">
        <div class="input-group">
          <input
            type="text"
            name="data"
            class="form-control"
            placeholder="Search for products"
            [(ngModel)]="value"
          />
          <div class="input-group-append">
            <span class="input-group-text bg-transparent text-primary" (click)="Search(search)">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-4 col-6 text-right">
      <p class="m-0">{{ shopDetails.service }}</p>
      <h5 class="m-0">{{ shopDetails.phone }}</h5>
    </div>
  </div>
</div>
<!-- Topbar End -->
